.App {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #efbae3; /* Pink background for the entire page */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
ul {
  list-style-type: none;
}
h1, #main-section {
  text-align: center;
}

#main-section {
  text-align: center;
  background-color:rgb(131, 64, 131); 
  padding: 10px;
  color: white;
  max-width: 600px;
  min-height: 100px;
  margin: 0 auto;
}


